* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: monospace;
    font-size: 20px;
}

body {
    background-color: azure;
}

h1 {
    color: rgb(233, 75, 114);
    text-align: center;
    margin-top: 1%;
    font-weight: bolder;
}

p {
    margin-top: 2%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 20%;
    background-color: rgb(5, 0, 0);
    height: 100px;
    margin-top: 2%;
    margin-left: 20%;
}

#male1 {
    width: 25%;
    height: 98.5%;
    float: left;
}

#name {
    color: white;
    float: right;
    margin-right: 31% ;
    margin-top: 3%;
    font-weight: bolder;
}

h4 {
    color: white;
    font-size: 17px;
    float: right;
    margin-right: 49% ;
    margin-top: 1%;
    font-weight: lighter;
}

#mail1 {
    float: right;
    font-size: 15px;
    color: rgb(70, 162, 223);
    margin-right: 23% ;
    margin-top: 1%;
    font-weight: bold;
}

#female2 {
    float: left;
    width: 26%;
}

#name2 {
    color: white;
    float: right;
    margin-right: 35% ;
    margin-top: 3%;
    font-weight: bolder;
}

#specialist {
    color: white;
    font-size: 17px;
    float: right;
    margin-right: 32.5% ;
    margin-top: 1%;
    font-weight: lighter;
}

#mail3 {
    float: right;
    font-size: 15px;
    color: rgb(70, 162, 223);
    margin-right: 26% ;
    margin-top: 1%;
    font-weight: bold;
}

.col1 {
    float: left;
    width: 20%;
    background-color: rgb(5, 0, 0);
    height: 100px;
    margin-top: 2%;
    margin-left: 1.5%;
}

#female1 {
    float: left;
    width: 26%;
}

#name1 {
    color: white;
    float: right;
    margin-right: 37% ;
    margin-top: 3%;
    font-weight: bolder;
}

#developer {
    color: white;
    font-size: 16px;
    float: right;
    margin-right: 25% ;
    margin-top: 1%;
    font-weight: lighter;
}

#mail2 {
    float: right;
    font-size: 15px;
    color: rgb(70, 162, 223);
    margin-right: 28% ;
    margin-top: 1%;
    font-weight: bold;
}

#male2 {
    float: left;
    width: 26%;
}

#name3 {
    color: white;
    float: right;
    margin-right: 30% ;
    margin-top: 3%;
    font-weight: bolder;
}

#manager {
    color: white;
    font-size: 17px;
    float: right;
    margin-right: 31% ;
    margin-top: 1%;
    font-weight: lighter;
}

#mail4 {
    float: right;
    font-size: 15px;
    color: rgb(70, 162, 223);
    margin-right: 23% ;
    margin-top: 1%;
    font-weight: bold;
}

#male3 {
    float: left;
    width: 26%;
}

#name4 {
    color: white;
    float: right;
    margin-right: 32% ;
    margin-top: 3%;
    font-weight: bolder;
}

#developer1 {
    color: white;
    font-size: 16px;
    float: right;
    margin-right: 28% ;
    margin-top: 1%;
    font-weight: lighter;
}

#mail5 {
    float: right;
    font-size: 15px;
    color: rgb(70, 162, 223);
    margin-right: 24.5% ;
    margin-top: 1%;
    font-weight: bold;
}

#female3 {
    float: left;
    width: 26%;
}

#name5 {
    color: white;
    float: right;
    margin-right: 35% ;
    margin-top: 3%;
    font-weight: bolder;
}

#analyst {
    color: white;
    font-size: 18px;
    float: right;
    margin-right: 52% ;
    margin-top: 1%;
    font-weight: lighter;
}

#mail6 {
    float: right;
    font-size: 15px;
    color: rgb(70, 162, 223);
    margin-right: 27% ;
    margin-top: 1%;
    font-weight: bold;
}